<html>
<head>
	<%- include('head'); %>
</head>
<body>
<form action="/" method="POST">
	<label class="form-control" for="balance">Enter Balance</label><br>
	<input class="form-control" id="balance" type="number" name="balance"><br>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>
</body>
</html>

