<html>
<head>
	<%- include('head'); %>
</head>
<body>
<div class="container">
<form style="width: 25%;margin: 0 auto;margin-top: 25%" action="/add-balance" method="POST">
	<div class="form-group">
	<h4 style="text-align: center">Enter Balance</h4>
	<input class="form-control" id="balance" type="number" name="balance" required>
	</div>
	<button style="display: block;margin:0 auto" class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</body>
</html>

