<html>
<head>
	<%- include('head'); %>
</head>
<body class="purp-back">
<div class="container">
<form style="width:25%;margin:0 auto;margin-top:25%" action="/add-balance" method="POST">
	<div class="form-group">
	<h4 class="center white montserrat"">Enter Balance</h4>
	<input class="form-control" id="balance" type="number" name="balance" min="0" required>
	</div>
	<button style="display:block;margin:0 auto" class="btn btn-outline-secondary" type="submit">Submit</button>
</form>
</div>
</body>
</html>

