<html>
<head>
</head>
<body>
<form action="/" method="POST">
	<label for="balance">Enter Balance</label><br>
	<input id="balance" type="number" name="balance"><br>
	<button type="submit">Submit</button>
</form>
</body>
</html>

