<html>
<head>
<style>
	table, th, td {
		border: 1px solid black;
	}
</style>
</head>
<body>
<%- include('nav'); %>
<table style="width:100%">
<tr>
	<th>Amount</th>
	<th>Date</th>
</tr>
<% deposits.forEach(function(deposit){ %>
	<tr><td>$<%= deposit.amount.toFixed(2) %></td><td><%= deposit.date.toDateString() %></td></tr>
<% }); %>
</table>
</body>
</html>
