<html>
<head>
<%- include('head'); %>
</head>
<body style="background-color: #f1edff;">
<div class="container">
<form style="width: 25%;margin: 0 auto; margin-top: 25%" action="/login", method="POST">
	<div class="form-group">
		<h4 style="text-align:center">Log In</h4>
		<input type="text" class="form-control" name="username" placeholder="Username" required>
		<input type="password" class="form-control" name="password" placeholder="Password" required>
	</div>
	<button style="display: block;margin:0 auto" class="btn btn-primary" type="submit">Login</button>
	<p style="text-align: center"><a href="/signup">Sign Up</a></p>
</form>
</div>
</body>
</html>
