<html>
<head>
<%- include('head'); %>
</head>
<body class="purp-back">
<div class="container">
<h1 style="text-align:center;margin-top: 10%;" class="white">Expense Tracker</h1>
<form style="width: 25%;margin: 0 auto; margin-top: 10%" action="/login", method="POST">
	<div class="form-group">
		<h4 style="text-align:center" class="white">Log In</h4>
		<input type="text" class="form-control" name="username" placeholder="Username" autocomplete="off" required>
		<input type="password" class="form-control" name="password" placeholder="Password" required>
	</div>
	<button style="display: block;margin:0 auto" class="btn btn-light" type="submit">Login</button>
	<p style="text-align:center;margin-top:2vw"><a style="color:white" href="/signup">Sign Up</a></p>
</form>
</div>
</body>
</html>
