<nav style="background:transparent !important;margin-top:2vw;" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-outline-dark">
                <i class="fas fa-align-left"></i>
                <span>Menu</span>
            </button>
        </div>
</nav>
