<html>
<head>
<%- include('head'); %>
</head>
<body style="background-color: #f1edff">
<div class="container">
<% if (typeof errors != 'undefined') { %>
<% for(var i=0; i < errors.length; i++) { %>
    <div class="alert alert-danger" role="alert">
    <%= errors[i].msg %>
    </div>
<% } %>
<% } %>
<% if (typeof uniqueErrors != 'undefined') { %>
    <% if (typeof uniqueErrors.errors.username != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <%= uniqueErrors.errors.username.message %>
            </div>
    <% } %>
    <% if (typeof uniqueErrors.errors.email != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <%= uniqueErrors.errors.email.message %>
        </div>
    <% } %>
<br>
<% } %>
<form style="width: 45%;margin: 0 auto; margin-top: 25%;" action="/signup" method="post">
	<div class="form-group">
		<h4 style="text-align:center">Sign Up</h4>
		<input type="text" class="form-control" name="username" placeholder="Enter Username" required>
		<small id="usernameHelp" class="form-text text-muted">5-15 characters</small>
		<input type="text" class="form-control" name="password" placeholder="Enter Password" required>
		<small id="passwordHelp2" class="form-text text-muted">6-50 characters. One lowercase, uppercase, number and special character</small>
	</div>
	<button style="display: block;margin: 0 auto;" type="submit" class="btn btn-primary">Sign Up</button> 
</form>
</div>
</body>
</html>
