<html>
<head>
<%- include('head'); %>
</head>
<body class="purp-back">
<div class="container">
<h1 style="margin-top:10%;" class="white center montserrat">Expense Tracker</h1>
<% if (typeof errors != 'undefined') { %>
<% for(var i=0; i < errors.length; i++) { %>
    <div class="alert alert-danger" role="alert">
    <%= errors[i].msg %>
    </div>
<% } %>
<% } %>
<% if (typeof uniqueErrors != 'undefined') { %>
    <% if (typeof uniqueErrors.errors.username != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <%= uniqueErrors.errors.username.message %>
            </div>
    <% } %>
    <% if (typeof uniqueErrors.errors.email != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <%= uniqueErrors.errors.email.message %>
        </div>
    <% } %>
<br>
<% } %>
<form style="width: 45%;margin: 0 auto; margin-top:10%;" action="/signup" method="post">
	<div class="form-group">
		<h4 class="white center">Sign Up</h4>
		<input type="text" class="form-control" name="username" placeholder="Enter Username" autocomplete="off" required>
		<small id="usernameHelp" class="form-text text-muted">5-15 characters</small>
		<input type="password" class="form-control" name="password" placeholder="Enter Password" required>
		<small id="passwordHelp2" class="form-text text-muted">6-50 characters. One lowercase, uppercase, number and special character</small>
	</div>
	<button type="submit" class="btn btn-light btn-center">Sign Up</button>
	<p style="margin-top:2vw" class="center"><a style="color:white;" href="/login">Log In</a></p> 
</form>
</div>
</body>
</html>
